{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="container">
        <div class="row">
            <h1 class="text-center">{{ message }}</h1>
        </div>
        <div class="card">
            <div class="card-body">
              Bonjour et bienvenue sur notre site sur lequel nous allons publier des articles.
            </div>
        </div>
    </div>
{% endblock %}