<h1>Activez votre compte myBlog</h1>
<p>Bonjour {{ user.firstname }}, accéder à la réinitialisation de votre mot de passe, veuillez cliquer sur ce lien :</p>
<a href="{{ absolute_url(url) }}", >{{ absolute_url(url) }}</a>
